body,
.webpage,
.artwork {
  display: flex;
  justify-content: center;
}

body,
.webpage {
  direction: column;
  align-items: top;
}

.trans {
  visibility: hidden;
}

body {
  background-color: grey;
}

.webpage {
  width: 98%;
}

.artwork {
  display: flex;
  flex-direction: column;
  min-height: 66vh;
  width: 99%;
  align-items: start;
}

.artline {
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.art-topline,
.art-midline {
  height: 50%;
}

.art-midline {
  min-height: 100px;
}

.art-lowline {
  min-height: 45px;
}

.rectangle {
  background-color: teal;
  height: calc(100% - 20px);
  margin: 10px;
}

.rec3 {
  width: 33%;
}

.rec1,
.rec0 {
  width: 100%;
}

.rec1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rec0 {
  background-color: greenyellow;
}

.triangle-container-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.triangle {
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: 30vw solid green;
  border-left: 15vw solid transparent;
  border-right: 15vw solid transparent;
  z-index: 1;
}

.t2 {
  margin: auto;
  opacity: 100 !important;
  visibility: visible !important;
  width: 0;
  height: 0;
  padding-top: 10vw;
  border-bottom: 20vw solid lime;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  z-index: 1;
}

.human-holder-holder {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  position: relative;
}

.human-holder {
  position: absolute;
  border: 1px solid purple;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  right: calc(var(--vw) * 1vw);
  transition: right 0.3s;
  top: var(--top, 0);
}

.human {
  visibility: visible !important;
  position: absolute;
}

.head {
  width: 100px;
  height: 100px;
  background-color: #ffcc66;
  border-radius: 50%;
  margin-bottom: -50px;
}

.body {
  width: 20px;
  height: 150px;
  background-color: #ffcc66;
  margin: 20px auto;
}

.arm {
  width: 20px;
  height: 100px;
  background-color: #ffcc66;
  position: absolute;
  margin-top: 30px;
}

.left-arm {
  transform: rotate(45deg);
  top: 70px;
}

.right-arm {
  transform: rotate(-45deg);
  right: 0px;
  top: 70px;
}

.leg {
  width: 20px;
  height: 100px;
  background-color: #ffcc66;
  position: absolute;
}

.left-leg {
  transform: rotate(-45deg);
  left: 70px;
  top: 180px;
}

.right-leg {
  transform: rotate(45deg);
  right: 70px;
  top: 180px;
}

#tcc2 {
  z-index: 1;
}

#w2,
#w3 {
  position: absolute;
}

@media (max-width: 999px) {
  .human-holder {
    transform: scale(0.5);
    margin-top: 160px;
  }
}
@media (max-width: 950px) {
  .human-holder {
    margin-top: 170px;
  }
}

@media (max-width: 910px) {
  .human-holder {
    margin-top: 190px;
  }
}

@media (max-width: 850px) {
  .human-holder {
    margin-top: 200px;
  }
}

@media (max-width: 754px) {
  .human-holder {
    margin-top: 220px;
  }
}

@media (max-width: 668px) {
  .human-holder {
    margin-top: 240px;
  }
}

@media (max-width: 590px) {
  .human-holder {
    margin-top: 260px;
  }
}

@media (max-width: 510px) {
  .human-holder {
    margin-top: 260px;
  }
}

@media (max-width: 470px) {
  .human-holder {
    margin-top: 300px;
  }
}

@media (max-width: 410px) {
  .human-holder {
    margin-top: 320px;
  }
}

@media (max-width: 350px) {
  .human-holder {
    margin-top: 340px;
  }
}

@media (max-width: 290px) {
  .human-holder {
    margin-top: 360px;
  }
}

@media (max-width: 230px) {
  .human-holder {
    margin-top: 380px;
  }
}
