body,
.webpage,
.artwork {
  display: flex;
  justify-content: center;
}

body,
.webpage {
  direction: column;
  align-items: top;
}

.trans {
  visibility: hidden;
  /* opacity: 0; */
}

body {
  background-color: grey;
}

.webpage {
  width: 98%;
}

.artwork {
  display: flex;
  flex-direction: column;
  min-height: 66vh;
  width: 99%;
  align-items: start;
}

.artline {
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.art-topline,
.art-midline {
  height: 50%;
}

.art-midline {
  min-height: 100px;
}

.art-lowline {
  min-height: 45px;
}

.rectangle {
  background-color: teal;
  height: calc(100% - 20px);
  margin: 10px;
}

.rec3 {
  width: 33%;
}

.rec1,
.rec0 {
  width: 100%;
}

.rec1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rec0 {
  background-color: greenyellow;
}

.triangle-container-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.triangle {
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: 30vw solid green;
  border-left: 15vw solid transparent;
  border-right: 15vw solid transparent;
  z-index: 1;
}

.t2 {
  margin: auto;
  opacity: 100 !important;
  visibility: visible !important;
  width: 0;
  height: 0;
  padding-top: 10vw;
  border-bottom: 20vw solid lime;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  z-index: 1;
}

#tcc2 {
  z-index: 1;
}

#w2 {
  position: absolute;
}
