body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90vw;
  height: 100vh;
}

h1,
li,
ul {
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding: 0;
  list-style-type: none;
}
